.nav {
    margin: 0;
    padding: 0;
}
.nav__list {
    display: flex;
}
.nav__link {
    display: flex;
    cursor: pointer;
    align-items: center;
    list-style: none;
    margin-left: 25px;
    font-weight: 500;
    font-size: 14px;
}
.nav__link:hover {
    border-bottom: 2px solid black;
}
.nav__link--logo {
    list-style: none;
}
.nav__link--logo img {
    object-fit: cover;
    height: 22px;
}
.nav__link--logo:hover {
    border-bottom: none;
}
.nav__link--active {
    margin-left: 350px;
}
.nav__link--icon {
    font-size: 16px;
}
.nav__link--icon:hover {
    border-bottom: none;
}
@media (max-width:1121px) {
    .nav__link--active {
        margin-left: 120px;
    }
}
@media (max-width: 990px) {
    .nav__link {
        display: none;
    }
}
